<div class="panel panel-default">
  <div class="panel-heading"><h1>All Topics <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %></h1>
  </div>
  <div class="panel-body">

    <div class="container-fluid>"
      <div class="row">
        <div class="col-md-4">
  
  
      <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <p><%= link_to topic.title, topic %></p>
            <%= link_to "Delete Topic", topic, method: :delete, class: 'btn btn-danger' %>
              <br>
              <br>
              <% topic.bookmarks.each do |bookmark| %>
              <%= link_to bookmark.url, bookmark.url, :target => '_blank' %>
              <% end %>
          </h4>
        </div>
      </div>
            <% end %>
      </div>
    </div>
 </div>
  <div class="panel-footer">
  </div> 