<h1>All Topics <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %></h1>
  
<% @topics.each do |topic| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <p><%= link_to topic.title, topic %></p>
        <%= link_to "Delete Topic", topic, method: :delete, class: 'btn btn-danger' %>
          <br>
          <br>
          <% topic.bookmarks.each do |bookmark| %>
          <%= link_to bookmark.url, bookmark.url, :target => '_blank' %>
          <br>
          <% end %>
      </h4>
    </div>
  </div>
<% end %>