<div class="panel panel-default">
  <div class="panel-heading"><h1>All Topics <% if policy(Topic.new).create? %><%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %></h1> 
  <% end %>
  </div>
  <div class="panel-body">

    
      <div class="row">

        <% @topics.each do |topic| %>
          <div class="col-md-4">
            <div class="media">
              <div class="media-body">
                <h4 class="media-heading">
                  <h4><%= link_to topic.title, topic %></h4>
                  <% if policy(topic).destroy? %>
                  <%= link_to "Delete Topic", topic, method: :delete, class: 'btn btn-danger' %>
                  <% end %>
                  <br>
                  <br>
                  <% topic.bookmarks.each do |bookmark| %>
                    <h4><%= link_to bookmark.url, bookmark.url, :target => '_blank' %></h4>
                  <% end %>
                </h4>
              </div>
            </div>
          </div>
        <% end %> 
      </div>
    
    <div class="panel-footer">
    </div>  
  </div>
</div>